.bg-pink {
  background-color: var(--primary-color);
  height: 91px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 1140px;
  margin: auto;
  padding-top: 20px;
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 0 20px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--secondery-color);
  font-weight: 700;
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar div p {
  color: #96bb7c;
  font-weight: bold;
}
.navbar div button {
  background-color: #96bb7c;
  color: white;
  font-weight: bold;
  width: 138px;
  height: 52px;
  border-radius: 5px;
  border: none;
}
